@font-face { font-family: Zaslia; src: url('fonts/Zaslia.otf'); }
@font-face { font-family: Wonderia; src: url('fonts/Wonderia.otf'); }
@font-face { font-family: Calgary; src: url('fonts/Calgary_DEMO.ttf'); }

body{
	background-color: black;
	color: #EFBF04;
}

.grid-container{
	display: grid;
}

video{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height 100%;
	object-fit: cover;
	z-index: -1;
}

#header-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: column;
	align-items: center;
	text-align: center;
}

.updates{
	justify-self: start;
	width: 50%;
	height: 75%;
	border: 2px solid #EFBF04;
	border-radius: 5px;
	margin-left: 10px;
	background-color: rgba(0,0,0,.3);
}

.updates h3 {
	font-size: 25px;
	font-family: Wonderia, sans-serif;
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}

.updates hr {
	border: 1px solid #EFBF04;
}

.updates ul {
	justify-self: start;
	font-family: Calgary;
	justify-self: start;
}

.header{
	font-family: Zaslia, sans-serif;
	font-size: 5rem;
	justify-self: center;
}

.menu{
	justify-self: end;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: .2em;
	grid-template-areas: "box-1 box-1" "box-2 box-3";
	width: 60%;
	height: 100%;
	justify-content: end;
	padding-right: 10%;
}

#search {
	height: 40%;
	width: 96.5%;
	align-self: end;
	justify-self: end;
	background: transparent;
	border: 3px solid #EFBF04;
	border-radius: 5px;
	color: #EFBF04;
	outline: none;
	font-size: 20px;
	font-family: Calgary, sans-serif;
}

#favtog {
	height: 40%;
	background: transparent;
	color: #EFBF04;
	font-size: 20px;
	font-family: Calgary, sans-serif;
	border: 3px solid #EFBF04;
	border-radius: 5px;
	display: grid;
	align-items: center;
	justify-items: center;
}

.dropbtn {
  height: 40%;
  width: 100%;
	background: transparent;
	color: #EFBF04;
	font-family: Calgary, sans-serif;
	font-size: 20px;
	text-align: center;
	text-justify: center;
	border: 3px solid #EFBF04;
	border-radius: 5px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px, #EFBF04, solid;
}

.dropdown-content p {
  color: #EFBF04;
  text-decoration: none;
  display: block;
  font-family: Calgary, sans-serif;
  font-size: 100%;
}

.dropdown-content hr {
	border: 1px #EFBF04 solid;
}

.dropdown-content p:hover {
	font-size: 110%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:black;
}

#items{
	display: grid;
	margin-top: 50px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 20px;
}
.item {
	height: 200px;
	border: 2px solid #EFBF04;
	display: grid;
	grid-template-rows: 83% 17%;
	padding: 5%;
	aspect-ratio: 1/1;
	overflow: hidden;
	background-color: rgba(0,0,0,.5);
	border-radius: 15px;
}
.tiletext {
	font-family: Calgary, sans-serif;
	font-size: 20px;
	margin: 0;
	padding-top: 10%;
	align-self: center;
	justify-self: center;
	white-space: nowrap;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: 1;
	text-align: center;
	grid-column: 1/2;
	grid-row: 2/3;
}
.tileimage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	grid-column: 1/2;
	grid-row: 1/2;
}

.fav {
	grid-column: 1/2;
	grid-row: 1/2;
	width: 30px;
	height: 30px;
	justify-self: end;
	border: none;
	border-radius: 10px;
	z-index: 3;
	background-color: #222222;
}

.svg {
	fill: #EFBF04;
	stroke: #EFBF04;
}

.svg.selected{
	fill: #dc3545;
	stroke: #dc3545;
}

#favheart{
	fill: none;
	stroke:#EFBF04;
}

#favheart.selected{
	fill: #EFBF04;
	stroke: #EFBF04;
}

.hide {
	display: none;
}